In [1]:
import glob
import pandas as pd

In [2]:
path =r'yourpath/set-archive_EOD_UPDATE' # use your path

allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)

In [4]:
frame

         <TICKER>  <DTYYYYMMDD>  <OPEN>  <HIGH>   <LOW>  <CLOSE>     <VOL>
0            1DIV      20131127   11.45   11.57   11.45    11.57      7400
1           CHINA      20131127    5.38    5.38    5.38     5.38      5000
2           EBANK      20131127    5.14    5.15    5.13     5.15     34000
3           EFOOD      20131127    4.47    4.47    4.47     4.47       500
4            EICT      20131127    6.09    6.23    6.09     6.23     21200
5            ENGY      20131127    4.79    4.79    4.78     4.79      1300
6             ENY      20131127    4.90    4.93    4.90     4.93      1000
7             GLD      20131127    1.78    1.79    1.77     1.78    493300
8            TDEX      20131127    9.39    9.58    9.39     9.58    318300
9        TGOLDETF      20131127    3.93    3.96    3.92     3.95     40500
10          TH100      20131127    4.16    4.18    4.16     4.18     15800
11              A      20131127    4.96    4.98    4.96     4.98     79100
12            AAV      20131127    4.54    4.58    4.52     4.54  18181000
13            ABC      20131127   21.10   25.00   20.30    24.60      4100
14          ABPIF      20131127   10.20   10.30   10.20    10.30     85200
15           ACAP      20131127    7.00    7.00    6.90     7.00    297600
16            ACC      20131127    5.30    5.30    5.25     5.25     17900
17           ADAM      20131127    1.21    1.31    1.21     1.27   1998800
18         ADVANC      20131127  225.00  233.00  223.00   230.00   5502300
19            AEC      20131127   11.20   11.20   11.00    11.00     44900
20         AEONTS      20131127   88.50   89.50   88.50    89.50       800
21            AGE      20131127    2.30    2.32    2.28     2.32   1066100
22             AH      20131127   15.90   16.00   15.90    16.00     68500
23            AHC      20131127   20.00   20.00   19.90    20.00      8400
24             AI      20131127   16.40   16.70   16.00    16.20   7018600
25            AIT      20131127   30.50   30.75   30.25    30.50    180000
26             AJ      20131127    9.60    9.65    9.50     9.60    254100
27            AKP      20131127    1.82    1.83    1.80     1.83    324900
28            AKR      20131127    1.06    1.07    1.05     1.06   2357200
29         ALUCON      20131127  147.00  147.00  147.00   147.00       100
...           ...           ...     ...     ...     ...      ...       ...
1429  TUF01P1507A      20150629    0.68    0.68    0.68     0.68       100
1430  TUF11C1506A      20150629    1.05    1.05    1.05     1.05       200
1431       TUFH16      20150629   21.18   21.18   21.18    21.18        20
1432      TUFU15X      20150629   21.30   21.30   21.30    21.30        20
1433       TVD-W1      20150629    1.22    1.35    1.14     1.17   2833100
1434         TWFP      20150629   25.00   25.25   25.00    25.25      8500
1435          TWS      20150629   35.75   36.00   35.75    36.00     23400
1436       UAC-W1      20150629    3.32    3.34    3.20     3.26     95400
1437       USDM15      20150629   33.81   33.90   33.81    33.84       420
1438       USDN15      20150629   33.86   33.89   33.85    33.85       112
1439       USDQ15      20150629   33.88   33.88   33.88    33.88         2
1440       USDU15      20150629   33.94   33.94   33.88    33.91       909
1441       USDZ15      20150629   33.98   34.02   33.98    34.00        41
1442   UV01P1510A      20150629    0.94    0.94    0.94     0.94       100
1443   UV06C1602A      20150629    0.55    0.55    0.53     0.53      1000
1444   UV23C1510A      20150629    0.20    0.22    0.20     0.21     42000
1445   UV28C1507A      20150629    0.01    0.01    0.01     0.01    550000
1446       UWC-W1      20150629    1.74    1.88    1.51     1.73   4049200
1447  VGI01C1509A      20150629    0.14    0.15    0.14     0.15   2384000
1448  VGI01P1509A      20150629    0.81    0.81    0.81     0.81       100
1449  VGI11C1512A      20150629    1.07    1.07    1.07     1.07       300
1450  VGI13C1507A      20150629    0.01    0.02    0.01     0.02    405400
1451  VGI13C1512A      20150629    0.84    0.85    0.84     0.85   1139600
1452  VGI16C1601A      20150629    0.29    0.30    0.29     0.30    479000
1453  VGI28C1511A      20150629    0.66    0.68    0.66     0.68    311000
1454  VGI42C1508A      20150629    0.06    0.06    0.06     0.06    600000
1455       VTE-W1      20150629    1.90    1.96    1.87     1.94   2500300
1456  WHA13C1512A      20150629    0.68    0.73    0.68     0.73  17112200
0             SET      19750819   99.67   99.67   99.67    99.67     85690
0             SET      19831117  138.21  138.21  138.21   138.21    752130

[3467130 rows x 7 columns]

In [5]:
frame.columns = ['Symbol', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume']

In [6]:
frame.head()

  Symbol      Date   Open   High    Low  Close  Volume
0   1DIV  20131127  11.45  11.57  11.45  11.57    7400
1  CHINA  20131127   5.38   5.38   5.38   5.38    5000
2  EBANK  20131127   5.14   5.15   5.13   5.15   34000
3  EFOOD  20131127   4.47   4.47   4.47   4.47     500
4   EICT  20131127   6.09   6.23   6.09   6.23   21200

# getStock

In [7]:
stock = frame.loc[frame['Symbol'] == 'PTT']
stock.head()

    Symbol      Date   Open   High    Low  Close   Volume
323    PTT  20131127  291.0  296.0  291.0  295.0  2837500
388    PTT  20151113  278.0  282.0  276.0  276.0  4248300
161    PTT  20051101  220.0  224.0  218.0  222.0  3663888
157    PTT  20040902  153.0  155.0  152.0  155.0  4376219
198    PTT  20060731  236.0  240.0  234.0  236.0  2363962

In [8]:
stock = stock.sort_values(by='Date')
stock.head()

    Symbol      Date   Open   High   Low  Close     Volume
117    PTT  20011206  38.00  38.25  35.5  35.75  174919392
114    PTT  20011207  36.00  36.25  35.5  35.50   41253300
118    PTT  20011211  35.50  35.50  34.0  34.00   40915800
109    PTT  20011212  34.25  35.25  34.0  35.00   30729100
110    PTT  20011213  35.00  35.25  35.0  35.00   37596100

In [9]:
stock['Date'] = pd.to_datetime(stock['Date'], format='%Y%m%d')
stock = stock.set_index(['Date'])
stock.head()

           Symbol   Open   High   Low  Close     Volume
Date
2001-12-06    PTT  38.00  38.25  35.5  35.75  174919392
2001-12-07    PTT  36.00  36.25  35.5  35.50   41253300
2001-12-11    PTT  35.50  35.50  34.0  34.00   40915800
2001-12-12    PTT  34.25  35.25  34.0  35.00   30729100
2001-12-13    PTT  35.00  35.25  35.0  35.00   37596100

In [10]:
del stock['Symbol']
stock.head()

             Open   High   Low  Close     Volume
Date
2001-12-06  38.00  38.25  35.5  35.75  174919392
2001-12-07  36.00  36.25  35.5  35.50   41253300
2001-12-11  35.50  35.50  34.0  34.00   40915800
2001-12-12  34.25  35.25  34.0  35.00   30729100
2001-12-13  35.00  35.25  35.0  35.00   37596100

In [11]:
def getStock(name):
    stock = frame.loc[frame['Symbol'] == name]
    stock = stock.sort_values(by='Date')
    stock['Date'] = pd.to_datetime(stock['Date'], format='%Y%m%d')
    stock = stock.set_index(['Date'])
    del stock['Symbol']
    return stock

In [12]:
PTT = getStock('PTT')
PTT.head()

             Open   High   Low  Close     Volume
Date
2001-12-06  38.00  38.25  35.5  35.75  174919392
2001-12-07  36.00  36.25  35.5  35.50   41253300
2001-12-11  35.50  35.50  34.0  34.00   40915800
2001-12-12  34.25  35.25  34.0  35.00   30729100
2001-12-13  35.00  35.25  35.0  35.00   37596100

# Full Code

In [13]:
import glob
import pandas as pd

path =r'yourpath/set-archive_EOD_UPDATE' # use your path

allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)
frame.columns = ['Symbol', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume']

def getStock(name):
    stock = frame.loc[frame['Symbol'] == name]
    stock = stock.sort_values(by='Date')
    stock['Date'] = pd.to_datetime(stock['Date'], format='%Y%m%d')
    del stock['Symbol']
    return stock

In [14]:
PTT = getStock('PTT')
PTT.head()

          Date   Open   High   Low  Close     Volume
117 2001-12-06  38.00  38.25  35.5  35.75  174919392
114 2001-12-07  36.00  36.25  35.5  35.50   41253300
118 2001-12-11  35.50  35.50  34.0  34.00   40915800
109 2001-12-12  34.25  35.25  34.0  35.00   30729100
110 2001-12-13  35.00  35.25  35.0  35.00   37596100